.products-container {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(max(20%, 260px), 1fr));
  column-gap: 10px;
  row-gap: 50px;
}

@media (max-width: 600px) {
  .products-container {
    grid-template-columns: repeat(2, minmax(max(20%, 180px), 1fr));
  }
}
