.sign-in-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 10px;

  // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
  // rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
